


/* Header CSS */
.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: auto;
    background-color: rgb(226, 121, 247);
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    align-items: center;
    padding: 10px;
}

.logo{
    padding-left: 10px;
    width: 100px;
}

.nav-items{   
    margin-left: auto; /* This pushes the navigation to the right */
}

.nav-items > ul{
    list-style-type: none; /* Removes bullet points */
    display: flex;
    gap: 20px; /* Adjust the space between navigation items */
}

.nav-items > ul > li{
    padding: 40px 10px 0 0;
    font-size: large;
    cursor: pointer;
}

/* Body CSS */
/* .card {
    background-color: #ffffff;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
} 
  
  .card:hover {
    transform: scale(1.05);
  }

  .card-list{
    display: flex;
    justify-content: space-around; /* Adjust as needed (e.g., space-between, space-evenly) */
    /* flex-wrap: wrap; Allows cards to wrap to the next line if the container is not wide enough */

    /* Body CSS */
.card {
    background-color: #ffffff;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.card img {
    max-height: 200px; /* Adjust the maximum height as needed */
    width: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
  
  